[Unit]
Description=Retrieve ics File and publish it to the entropia wiki
Documentation=https://github.com/entropia/ics2entropiawiki

[Service]
Type=simple
ExecStart=/opt/ics2entropiawiki/venv/bin/python /opt/ics2entropiawiki/ics2entropiawiki.py
# ConfigurationDirectory not available on Debian Stretch
#ConfigurationDirectory=ics2entropiawiki

# Create user with adduser --system ics2entropiawiki
User=ics2entropiawiki
Group=nogroup

ProtectSystem=strict
ProtectKernelTunables=yes
PrivateTmp=yes
ProtectKernelModules=true
RestrictAddressFamilies=AF_INET AF_INET6
RestrictNamespaces=true
RestrictRealtime=yes
ReadOnlyPaths=/etc/ics2entropiawiki

[Install]
WantedBy=multi-user.target
